<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reestablecer password</title>
</head>
<body>

    <div>
        <form id="resetPasswordForm">
            <label for="email">Correo electrónico</label>
            <input id="email" type="email" name="email" required>
            <br>
            <label for="newPassword">Nueva contraseña</label>
            <input id="newPassword" type="password" name="newPassword" required>
            <br>
            <label for="confirmPassword">Confirmar contraseña</label>
            <input id="confirmPassword" type="password" name="confirmPassword" required>
            <br>
            <button type="submit">Confirmar</button>
        </form>
    </form>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts.js"></script>
</body>
</html>